{% load static %}

<!--- Footer -->
<footer>
	<div class="container">
	  <div class="row">
		<div class="col-md-9">
		  <div class="row">
			<div class="col-md-5 block-5 ">
			  <h2 class="footer-heading mb-4">Contact Info</h2>
			  <ul class="list-unstyled">
				<li class="address"><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>203 Fake St. Mountain View, San Francisco, California, USA</li>
				<li class="phone"><span class="fa-li"><i class="fas fa-mobile-alt"></i></span>+2 392 3929 210</li>
				<li class="email"><span class="fa-li"><i class="far fa-envelope"></i></span>emailaddress@domain.com</li>
			  </ul>
			</div>
			<div class="col-md-3 ml-auto">
			  <h2 class="footer-heading mb-4">Our solution</h2>
			  <ul class="list-unstyled">
				<li><a href="#conoceme" class="smoothscroll">Design & creatives</a></li>
				<li><a href="#apoyo" class="smoothscroll">Telecommunication</a></li>
				<li><a href="#evaluacion" class="smoothscroll">Restaurant</a></li>
				<li><a href="#terapias" class="smoothscroll">Programin</a></li>
				<li><a href="#charlas" class="smoothscroll">Architecture</a></li>
		
			  </ul>
			</div>
			<div class="col-md-3">
			  <h2 class="footer-heading mb-4">Síguenos en:</h2>
			  <a href="https://www.instagram.com/psicopedagogiaintegral/" class="pl-3 pr-3"><i class="fab fa-instagram fa-2x"></i></a>
			</div>
		  </div>
		</div>
		<div class="col-md-3 ml-auto">
			<h2 class="footer-heading mb-4">Support</h2>
			<ul class="list-unstyled">
			  <li><a href="#conoceme" class="smoothscroll"></a></li>
			  <li><a href="#apoyo" class="smoothscroll">Design & creatives</a></li>
			  <li><a href="#evaluacion" class="smoothscroll">Telecommunication</a></li>
			  <li><a href="#terapias" class="smoothscroll">Restaurant</a></li>
			  <li><a href="#charlas" class="smoothscroll">Architecture</a></li>
			  <li><a href="#toolbox" class="smoothscroll">ToolBox</a></li>
			  <li><a href="#contactame" class="smoothscroll">Programin</a></li>
			</ul>
		  </div>
  
	  </div>
	  <div class="row pt-5 mt-5 text-center">
		<div class="col-md-12">
		  <div class="border-top pt-5">
			<p>
		  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		  Copyright &copy All rights reserved | E-learningX
		  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		  </p>
	  
		  </div>
		</div>
		
	  </div>
	</div>
  </footer>
  <!--- Footer -->